* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 10px solid blue;
}

.main {
    border: 2px solid brown;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.left {
    border: 2px solid lawngreen;
    height: 50vh;
    width: 50vh;
}
.right{
    border: 2px solid red;
}